# Enforce LF line endings for common text/code files
*.dart text eol=lf
*.swift text eol=lf
*.java text eol=lf
*.kt text eol=lf
*.js text eol=lf
*.ts text eol=lf
*.json text eol=lf
*.yaml text eol=lf
*.yml text eol=lf

# Auto normalize everything else
* text=auto
